body{
	margin: 0px;
	background-color: #e9e8e4;
	font-family: 'Didact Gothic', sans-serif;
}
header{
	overflow: hidden;
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 225px;
	z-index: 0;
}
.content {
	padding: 1em;
	padding-bottom: 0;
	margin: 0 auto;
	max-width: 1024px;
}
/*-navigation--------------*/
.navigation{
	width: 100%;
	height: auto;
	z-index: 0;
	display: block;
	margin: 0 auto;
}
.Line{
	width: 100%;
	height: 30px;
	background-color: rgba(45, 45, 45, 1);
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	z-index: 1;

}
nav{
	vertical-align: middle;
	z-index: 2;
	text-align: center;
	margin: 0 auto;
	display: block;
}
nav ul{
	display: inline-block;
	list-style: inline;
	margin: 0 auto;
	/*margin-left: 20px;*/
	padding: 0;
}
.navi{
	list-style: none;
	float: left;
	/*margin-right: 20px;*/
	/*margin-top: 15px;*/
}
.navi > .but{
	display: block;
	/*margin-bottom: 2em;*/
	background: rgba(45, 45, 45, 1);
}
.navi > .but:hover{
	background: rgba(69, 69, 69, 1);
}
.navi > .but:after {
	content: "";
	clear: both;
	display: table;
}
.navi > .but > .data-col {
	text-align: center;
	width: 150px;
	float: right;
	padding: 8px;
	font-size: 2em;
	color: #e9e8e4;
}
.logo {
	/* margin-left: 250px; */
	max-width: 1356px;
	z-index: 0;
	margin: 0 auto;
	display: inline-block;
}
/*-slider----------------------*/

.slide {
	display: block;
	width: 900px;
	height: 300px;
	overflow: hidden;
	/*	border: 3px solid #888;*/
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5px;
}
.slide  input {
	display: none;
}

.slide  input + label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background: rgba(90, 90, 90, 0.8);
	border: 2px solid rgba(190, 190, 190, 0.8);

	cursor: pointer;

	z-index: 100;
	position: relative;

	margin-right: 4px;
	top: 90%;

	transition: background 0.8s ease-out 0s;
}

.slide  input + label:hover {
	background: rgba(250, 250, 250, 0.8);
}

.slide  input:checked + label {
	background: rgba(220, 220, 220, 0.8);
}

.slide  div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}

.slide  div {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slide img {
	width:900px;
	height:auto;
}

.slide  input:checked + label + div {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide  div  p {
	position: absolute;
	font-size:18px;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 3px #222;
}

/*--Border+-----------------------------*/
.content > h1{
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
}
.border{
	display: flow-root;
	padding: 25px;
	border: solid;
	border-width: 5px;
	border-color: black;
	margin-right: 10px;
	margin-left: 10px;
}
.texts{
	font-size:20px;
	float: left;
	display: inline-block;
	/*max-width: 512px;*/
}
.image1{
	margin-left: 10px;
	margin-bottom: 10px;
	/*position: static;*/
	display: inline-block;
	float: right;
	width: 300px;
	height: auto;
}
/*-Table----------------------------------*/
.Tbl{
	margin: 0 auto;
	display: block;
	margin-left: 45px;
	/*text-align: center;*/
}
.Tbl table{
	display: inline-block;

}
.Cell{
	width: 300px;
	height: 400px;
	overflow: hidden;
	margin-right: 15px;
	margin-bottom: 15px;  
}
.Cell .imgT{
	width: 296px;
	height: 396px;
	overflow: hidden;
	border: solid;
	border-width: 2px;
	position: absolute;
}
.Cell .info{
	text-align: center;
	width: 250px;
	height: 50px;
	background-color: #e9e8e4;
	margin: 0 auto;
	border: solid;
	border-top-right-radius:15px; 
	border-top-left-radius:15px; 
	border-width: 2px;
	position: relative;
	margin-top: 346px;
}
.Cell .info h1{
	margin: 0 auto;
	padding-top: 5px;
	font-size: 20px; 
}
.Cell .info p{
	margin: 0 auto;
}
table .Tr1 .Td1 .imgT img{
	float: right;	
	width: 300px;
	height: auto;
}
table .Tr1 .Td2 .imgT img{
	width: 320px;
	height: auto;
}
table .Tr1 .Td3 .imgT img{
	width: 550px;
	height: auto;
}
table .Tr2 .Td1 .imgT img{
	width: 380px;
	height: auto;
	float: right;
}
table .Tr2 .Td2 .imgT img{
	width: 340px;
	height: auto;
	float: right;
}
table .Tr2 .Td3 .imgT img{
	width: 400px;
	height: auto;
}
/*---footer---------------*/
footer{
	padding-top: 5px;
	border-top: solid;
	border-width: 5px;
	border-color: black;
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
footer .Footer{
	margin: 0 auto;
	max-width: 1024px;
	display: block;
	text-align: center;
}
.Footer div{
	vertical-align: middle;
	float: left;
	max-width: 512px;
}
.Footer img{
	display: inline-block;
	float: right;
	margin: 5px;
	margin-top: 0px; 
	width: 20px;
	height: 20px;
}